@import "tailwindcss";

@theme {
  --color-pit-black: #0a0a0a;
  --color-pit-dark: #111111;
  --color-pit-panel: #1a1a1a;
  --color-pit-border: #2a2a2a;
  --color-f1-red: #e8002d;
  --color-f1-white: #f5f5f5;
  --color-f1-gray: #6b7280;
  --color-f1-gold: #ffd700;
  --color-display-green: #00d2be;
  --color-display-yellow: #ffd700;

  --font-display: "Courier New", monospace;
  --font-body: "Inter", sans-serif;
}

body {
  background-color: var(--color-pit-black);
  color: var(--color-f1-white);
}